* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 28px;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  line-height: 20px;
}

.lobster-font {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/* Common Class Start */

/* Common Class End */

/* Header section Start */
header {
    max-width: 1440px;
    background: linear-gradient(0.00deg, rgba(18.06, 18.06, 18.06, 1),rgba(18.06, 18.06, 18.06, 0) 100%), url(/images/header-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 826px;
    text-align: center;
}

.banner-content h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 15px;
}

.banner-content p {
    color: #ffffff;
    margin-bottom: 20px;
}

.btn-donate {
    padding: 16px 12px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    background-color: #FF5959;
    color: #ffffff;
    cursor: pointer;
}
/* Header section End */
.hidden {
    display: none;
}

/* Donate Section Start */
.donate-today {
    max-width: 1440px;
    height: 600px;
}

.donate-container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

.header h2 {
    font-size: 3rem;
    color: #121212;
    margin-bottom: 20px;
}

.header p {
    color: #707070;
    margin-bottom: 15px;
}

.amount-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 40px 0;
}

.amount {
    background-color: #FAFAFA;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 20px;
    height: 110px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #707070;
    font-weight: bold;
    cursor: pointer;
}

.selected-amount {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.donate-container input {
    color: #B3B3B3;
    margin-bottom: 10px;
    padding: 6px 275px;
    text-align: center;
    border: none;
}

.donate-container hr{
    margin-bottom: 25px;
}
/* Donate Section End */

/* Plan Section Start */
.donate-plan {
    max-width: 1440px;
    height: 600px;
}

.donate-plan-container {
    width: 78%;
    margin: 0 auto;
    text-align: center;
}

.plan-card-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.plan-card {
    height: 352px;
    width: 360px;
    padding: 60px 25px;
    text-align: start;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    height: 50px;
    width: 58px;
    margin-bottom: 30px;
}

.plan-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 15px;
}

.plan-card p {
    font-size: 1rem;
    font-weight: 400;
    line-height: auto;
    color: #707070;
}

.plan-one {
    background-color: rgba(79, 157, 166, 0.1);
}
.plan-two {
    background-color: rgba(255, 89, 89, 0.1);
}
.plan-three {
    background-color: rgba(255, 244, 214, 1);
}
/* End of donate plan section */

/* Info Section Start */
.donation-info {
    max-width: 1440px;
    /* height: 600px; */
    margin-bottom: 100px;
}

.info-container {
    width: 78%;
    margin: 80px auto;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 40px;
}

.content h3 {
    font-size: 3rem;
    line-height: auto;
    margin-bottom: 20px;
}

.content p {
    color: #707070;
    margin-bottom: 20px;
}

.btn-contribute {
    padding: 16px 12px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
}
/* Info Section End */
.get-update {
    text-align: center;
    max-width: 1440px;
}

.get-update .header {
    width: 50%;
    margin: 60px auto;
}

.subscribe-area {
    width: 60%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF4D6;
    border-radius: 5px;
}

.subscription {
    display: flex;
}

#email {
    padding: 15px;
    width: 275px;
    height: 48px;
    border: none;
    background-color: #D9D9D9;
    color: #AA9F9F;
    font-size: 1rem;
    border-radius: 5px 0 0 5px;
}

.btn-subscribe {
    padding: 10px 25px;
    border: none;
    background-color: #FF5959;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    cursor: pointer;
}

#email:focus {
    outline: none;
    border:  2px solid #FF5959;
}
/* Get update section End */

/* Footer section Start */
footer {
    max-width: 1440px;
    height: 200px;
    background-color: #121212;
    color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-content h4 {
    font-size: 2.25rem;
    letter-spacing: 0.5px;
    line-height: 2.8rem;
    margin-bottom: 15px;
}

.footer-content p {
    font-size: 0.8rem;
    color: #FAFAFA;
    margin-bottom: 15px;
}

.special {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #FAFAFA;
}
/* Footer Section End */